@media (min-width:1025px) and (max-width:1275px) {
    nav h1 {
        font-size: 3.5vw;
    }

    .links>a {

        font-size: 1.5vw;
    }

    .nemu button {

        font-size: 1.5vw;
    }
}

@media (min-width:875px) and (max-width:1025px) {
    nav h1 {
        font-size: 3.5vw;
    }

    .links>a {

        font-size: 1.5vw;
    }

    .nemu button {

        font-size: 1.5vw;
    }
}

@media (min-width:725px) and (max-width:875px) {
    nav h1 {
        font-size: 3.8vw;
    }

    .links>a {

        font-size: 1.5vw;
        display: none;
    }

    .nemu button {
        display: none;
        font-size: 1.5vw;
    }

    .nemu i {
        display: initial;
        font-size: 2.5vw;
    }
}

@media (min-width:600px) and (max-width:725px) {
    nav h1 {
        font-size: 5vw;
    }

    .links>a {

        font-size: 1.5vw;
        display: none;
    }

    .nemu button {
        display: none;
        font-size: 1.5vw;
    }

    .nemu i {
        display: initial;
        font-size: 3.5vw;
    }
}

@media (min-width:450px) and (max-width:600px) {
    nav h1 {
        font-size: 6vw;
    }

    .links>a {

        font-size: 1.5vw;
        display: none;
    }

    .nemu button {
        display: none;
        font-size: 1.5vw;
    }

    .nemu i {
        display: initial;
        font-size: 5vw;
    }
}

@media (min-width:300px) and (max-width:450px) {
    nav h1 {
        font-size: 9vw;
    }

    .links>a {

        font-size: 1.5vw;
        display: none;
    }

    .nemu button {
        display: none;
        font-size: 1.5vw;
    }

    .nemu i {
        display: initial;
        font-size: 6.5vw;
    }
}

@media (max-width:300px) {
    nav h1 {
        font-size:10vw;
    }

    .links>a {

        font-size: 1.5vw;
        display: none;
    }

    .nemu button {
        display: none;
        font-size: 1.5vw;
    }

    .nemu i {
        display: initial;
        font-size: 7vw;
    }
}