@media (min-width:750px) and (max-width:1025px) {
    nav h1 {
        font-size: 3.5vw;
    }

    .links>a {

        font-size: 2vw;
    }

    .nemu button {

        font-size: 2vw;
    }

    .page1 {
        width: 100%;
        height: 70%;
    }

    .page1>h1 {

        font-size: 5vw;
        margin-top: 8vw;

    }

    .page1>p {

        font-size: 1.9vw;
        margin-top: 1.9vw;
        margin-bottom: 2.9vw;
    }

    .page1 input {
        padding: 2vh 4.5vw;
        border-radius: 5px;
        margin-right: 0.5vw;
        font-size: 2vw;
    }

    .page1 button {
        padding: 1vh 2vw;
        font-size: 2vw;
        border-radius: 5px;
    }

    .page2 h1 {

        font-size: 4vw;
        padding-top: 3vw;
        margin-bottom: 1vw;
    }

    .page2 button {

        padding: 1vh 2vw;
        font-size: 1.5vw;


    }

    .page2_box_text h3 {
        font-size: 2vw;

    }

    .page2_box_text p {
        font-size: 1.5vw;

    }

    .page3 {

        height: 50%;

    }

    .page4_box {
        width: 23%;
        gap: 2;
    }

    .page4 {

        gap: 0.5rem;

    }
}

@media (min-width:300px) and (max-width:450px) {
    nav h1 {
        font-size: 9vw;
    }

    .links>a {

        font-size: 1.5vw;
        display: none;
    }

    .nemu button {
        display: none;
        font-size: 1.5vw;
    }

    .nemu i {
        display: initial;
        font-size: 6.5vw;
    }

    .page1 {
        width: 100%;
        height: 55%;
    }

    .page1>h1 {
        padding: 0 4vw;
        font-size: 8.2vw;
        margin-top: 12vw;

    }

    .page1>p {
        padding: 0 4vw;
        font-size: 4vw;
        margin-top: 4vw;
        margin-bottom: 6vw;
    }

    .page1 input {
        padding: 2.3vh 1vw;
        border-radius: 5px;
        margin-right: 0.5vw;
        font-size: 4vw;
    }

    .page1 button {
        padding: 1vh 2.4vw;
        font-size: 4.5vw;
        border-radius: 5px;
    }

    .page2 h1 {

        font-size: 7vw;
        padding-top: 3vw;
        margin-bottom: 1vw;
    }

    .page2 button {
        display: none;
        padding: 1vh 2vw;
        font-size: 1.5vw;


    }

    .page2 {
        width: 100%;
        height: 100%;
        padding: 1px;
        padding: 0 3vw;
    }

    .page2_content {
        width: 100%;
        height: 90%;

        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 2vw;
    }

    .page2_box {
        width: 60%;
        height: 23%;
        border-radius: 5px;
        box-shadow: 3px 3px 15px #B1D3EF, -3px -3px 15px #99CFC0;
        border-radius: 20px;

    }

    .page2_box_image {
        width: 100%;
        height: 80%;

    }

    .page2_box_text {
        width: 100%;
        height: 20%;
        padding-top: 0.1vw;
    }

    .page2_box_image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .page2_box_text h3 {
        font-size: 3vw;

    }

    .page2_box_text p {
        font-size: 2.5vw;

    }

    .page3 {
        height: 30%;
    }

    .page3_location_box {
        flex-shrink: 0;
    }

    .image {
        flex-shrink: 0;
    }

    .image>h1 {

        font-size: 3.5vw;

    }

    .page4 {
        flex-wrap: wrap;
       

    }

    .page4_box {
        width: 50%;
       
        flex-shrink: 0;
    }

    .page4_box h3{
        font-size: 1rem;
        font-weight: 500;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
}


@media (max-width:300px) {
    nav h1 {
        font-size: 10vw;
    }

    .links>a {

        font-size: 1.5vw;
        display: none;
    }

    .nemu button {
        display: none;
        font-size: 1.5vw;
    }

    .nemu i {
        display: initial;
        font-size: 7vw;
    }

    .page1 {
        width: 100%;
        height: 50%;
    }

    .page1>h1 {
        padding: 0 5vw;
        font-size: 10.2vw;
        margin-top: 12vw;

    }

    .page1>p {
        padding: 0 5vw;
        font-size: 6vw;
        margin-top: 4.5vw;
        margin-bottom: 6.5vw;
    }

    .page1 input {
        padding: 2.3vh 1.5vw;
        border-radius: 5px;
        margin-right: 0.5vw;
    }

    .page1 button {
        padding: 1vh 2.4vw;
        font-size: 6vw;
        border-radius: 5px;
    }

    .page2 h1 {

        font-size: 7vw;
        padding-top: 3vw;
        margin-bottom: 1vw;
    }

    .page2 button {
        display: none;
        padding: 1vh 2vw;
        font-size: 1.5vw;


    }

    .page2 {
        width: 100%;
        height: 100%;
        padding: 1px;
        padding: 0 3vw;
    }

    .page2_content {
        width: 100%;
        height: 90%;

        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin-top: 2vw;
    }

    .page2_box {
        width: 80%;
        height: 23%;
        border-radius: 5px;
        box-shadow: 3px 3px 15px #B1D3EF, -3px -3px 15px #99CFC0;
        border-radius: 20px;

    }

    .page2_box_image {
        width: 100%;
        height: 80%;

    }

    .page2_box_text {
        width: 100%;
        height: 20%;
        padding-top: 0.1vw;
    }

    .page2_box_image img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .page2_box_text h3 {
        font-size: 3vw;

    }

    .page2_box_text p {
        font-size: 2.5vw;

    }

    .page3 {
        height: 30%;
    }

    .page3_location_box {
        flex-shrink: 0;
    }

    .image {
        flex-shrink: 0;
    }

    .image>h1 {
        font-size: 3.5vw;
    }
}