

@media (min-width:750px) and (max-width:1025px) {
    nav h1 {
        font-size: 3.5vw;
    }

    .links>a {

        font-size: 1.5vw;
    }

    .nemu button {

        font-size: 1.5vw;
    }
    .page1 {
        width: 100%;
        height: 70%;
    }
    .page1>h1 {

        font-size: 5vw;
        margin-top: 8vw;

    }

    .page1>p {

        font-size: 1.9vw;
        margin-top: 1.9vw;
        margin-bottom: 2.9vw;
    }
    .page1 input {
        padding: 2vh 4.5vw;
        border-radius: 5px;
        margin-right: 0.5vw;
    }
    
    .page1 button {
        padding: 1vh 2vw;
        font-size: 1.4vw;
        border-radius: 5px;
    }
}

@media (min-width:300px) and (max-width:450px) {
    nav h1 {
        font-size: 9vw;
    }

    .links>a {

        font-size: 1.5vw;
        display: none;
    }

    .nemu button {
        display: none;
        font-size: 1.5vw;
    }

    .nemu i {
        display: initial;
        font-size: 6.5vw;
    }
    .page1 {
        width: 100%;
        height: 55%;
    }
    .page1>h1 {
        padding: 0 4vw;
        font-size: 8.2vw;
        margin-top:12vw;

    }

    .page1>p {
        padding: 0 4vw;
        font-size: 4vw;
        margin-top: 4vw;
        margin-bottom: 6vw;
    }
    .page1 input {
        padding: 2.3vh 2vw;
        border-radius: 5px;
        margin-right: 0.5vw;
    }
    
    .page1 button {
        padding: 1vh 2.4vw;
        font-size: 4.5vw;
        border-radius: 5px;
    }
    .page2 h1{
       
        font-size: 7vw;
        font-weight: 500;
        margin-top: 3vw;
        margin-bottom: 2vw;
    }
    
    .page2 button {
       display: none;
        padding: 0.8vh 1vw;
        font-size: 3vw;
        font-weight: 500;
        border-radius: 10vw;
       
    }
}

@media (max-width:300px) {
    nav h1 {
        font-size: 10vw;
    }

    .links>a {

        font-size: 1.5vw;
        display: none;
    }

    .nemu button {
        display: none;
        font-size: 1.5vw;
    }

    .nemu i {
        display: initial;
        font-size: 7vw;
    }
    .page1 {
        width: 100%;
        height: 50%;
    }
    .page1>h1 {
        padding: 0 5vw;
        font-size: 10.2vw;
        margin-top:12vw;

    }

    .page1>p {
        padding: 0 5vw;
        font-size: 6vw;
        margin-top: 4.5vw;
        margin-bottom: 6.5vw;
    }
    .page1 input {
        padding: 2.3vh 1.5vw;
        border-radius: 5px;
        margin-right: 0.5vw;
    }
    
    .page1 button {
        padding: 1vh 2.4vw;
        font-size: 6vw;
        border-radius: 5px;
    }
    .page2 h1{
       
        font-size: 8vw;
        font-weight: 500;
        margin-top: 3vw;
        margin-bottom: 2vw;
    }
    .page2 button {
        display: none;
         padding: 0.8vh 1vw;
         font-size: 3vw;
         font-weight: 500;
         border-radius: 10vw;
        
     }
}