* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 overflow-x: hidden;
}

/* added style of nav */
nav {
    width: 100%;
    height: 100px;
    background-color: #dadae1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}

nav h1 {
    font-size: 3vw;
}

.links {
    display: flex;
    align-items: center;
    /* background-color: #C3FF96; */
    gap: 3vw;
}

.links>a {
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 400;
}

.nemu {
    display: flex;
    align-items: center;
    gap: 3vw;
}

.nemu button {
    padding: 1vh 2vw;
    font-size: 1.3vw;
    font-weight: 500;
    border-radius: 5px;
    border: none;
}

.nemu i {

    font-size: 1.5vw;
    font-weight: 600;
    display: none;
}


/* added style of page1 */

.page1 {
    width: 100%;
    height: 70%;
    background-image: url(images/hero-section_image.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px;
}

.page1>h1 {
    text-align: center;
    font-size: 4vw;
    margin-top: 7vw;
    color: white;
}

.page1>p {
    text-align: center;
    font-size: 1.3vw;
    /* width: 60%; */
    color: white;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.page1 form {

    display: flex;
    justify-content: center;
}

.page1 input {
    text-align: start;
    font-size: 1.5vw;
    padding: 2vh 6vw;
    border-radius: 5px;
    margin-right: 0.5vw;
    border: none;
}

.page1 button {
    padding: 1vh 2vw;
    font-size: 1.2vw;
    color: white;
    background-color: rgb(147, 83, 83);
    border-radius: 5px;
    border: none;
}


/* added style of page2 */

.page2 {
    width: 100%;
    height: 70%;
    background-color: bisque;
    padding: 1px;
    padding: 0 3vw;
}

.page2_text {
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.page2 h1 {
    text-align: center;
    font-size: 3vw;
    font-weight: 500;
    padding-top: 3vw;
    margin-bottom: 1vw;
}

.page2 button {

    padding: 1vh 2vw;
    font-size: 1vw;
    font-weight: 500;
    border-radius: 10vw;
    border: 1px solid black;
    background-color: transparent;
}

.page2_content {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
}

.page2_box {
    width: 23%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 3px 3px 15px #B1D3EF, -3px -3px 15px #99CFC0;
    border-radius: 20px;

}

.page2_box:hover {

    box-shadow: 3px 3px 15px rgb(87, 86, 86), -3px -3px 15px black;
    border-radius: 20px;
}

.page2_box_image {
    width: 100%;
    height: 70%;

}

.page2_box_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.page2_box_text {
    width: 100%;
    height: 30%;
    background-color: #F3F3F7;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    padding-top: 0.6vw;
}

.page2_box_text h3 {
    font-size: 1.2vw;
    font-weight: 500;
}

.page2_box_text p {
    font-size: 1vw;
    font-weight: 400;
}

/* added style of page3 */
.page3 {
    width: 100%;
    height: 80%;
    background-color: rgb(54, 49, 43);
    padding: 1px;
    
}

.page3 h1 {
    text-align: center;
    font-size: 3vw;
    font-weight: 500;
    padding-top: 1vw;
    margin-bottom: 1vw;
}
.page3_location {
    width: 100%;
    height: 80%;
    /* background-color: rgb(208, 132, 39); */
    padding: 1px;
    display: flex;
    
}


.page3_location_box {
    width: 100%;
    height: 100%;
    display: flex;
    /* gap: 3vw; */
    justify-content: space-between;
    animation-name: move;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    padding: 0 1.5vw;
    flex-shrink: 0;
}

.image {
    width: 23%;
    height: 100%;
    /* background-color: blue; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
}

.image > h1{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
   color: white;
   font-size: 2vw;
padding-bottom: 8px;

}

.image1 {
    
    background-image: url(images/location_1.png);
}

.image2 {
    background-image: url(images/location_2.png);
}

.image3 {
    background-image: url(images/location_3.png);
}

.image4 {
    background-image: url(images/location_4.png);
}
@keyframes move {
    form{
        transform: translateX(0);
    }
    to{
         transform: translateX(-100%);
    }
}

/* added style of page4 */

.page4 {
    width: 100%;
    min-height: 30%;
    background-color: #F3F3F7;
    padding: 0 3vw;
    /* padding: 1px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 2rem; */
}

.page4_box{
     width: 20%;
     min-height: 100%;
     
}
.page4_box h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}
.page4_box ul li{
    list-style: none;
    margin: 0.6rem 0;
}

/* added footer */
.footer {
    width: 100%;
    min-height: 10%;
    background-color: #dadae1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 3vw;
}
.footer_left{
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
}
.footer_right{
    display: flex;
    gap: 3vw;
}

.footer_right i{
    font-size: 1.5rem;
}